<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/font/font.css" />
    <link rel="icon" type="image/png" href="../static/img/icon/favicon.png" />
    <title>Yandex</title>
  </head>
  <body>
    <header class="header container" id="header">
      <nav class="nav">
        <div class="logo">
          <img
            class="logo__img img"
            src="../static/img/icon/logo_icon.svg"
            alt="logo_img"
          />
        </div>
        <div class="menu">
          <div class="menu__button">
            <span class="menu__button-line menu__button-line--top"></span>
            <span class="menu__button-line menu__button-line--mid"></span>
            <span class="menu__button-line menu__button-line--bot"></span>
          </div>
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="">Что внутри</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="">Как это работает</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="">Где найти</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="">Стоимость</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="">Отзывы</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="">Вопросы</a>
            </li>
          </ul>
        </div>
        <a class="nav__button button" href="">Забронировать</a>
        <a class="menu__list-button button" href="">Забронировать</a>
      </nav>
    </header>
    <main>
      <section class="main">
        <img
          class="main__img img"
          src="../static/img/bg_image.jpg"
          alt="background_img"
        />
        <div class="main__info container">
          <h1 class="main__title text-lg">Капсула для сна на пару часов</h1>
          <p class="main__description text-sm">
            Восстановите силы в комфортном пространстве и станьте продуктивнее.
          </p>
        </div>
      </section>
      <section class="about container">
        <h2 class="about__title text-lg">Капсула — место тишины и покоя</h2>
        <div class="about__info">
          <div class="about__img-wrapper">
            <img
              class="about__img img"
              src="../static/img/content_image.jpg"
              alt="capsule_img"
            />
          </div>
          <div class="about__description">
            <h3 class="about__subtitle text-md">Капсула будет полезна тем, кто:</h3>
            <ul class="about__list">
              <li class="about__item text-sm">
                плохо себя чувствует и работает менее эффективно из-за
                постоянного недосыпа;
              </li>
              <li class="about__item text-sm">
                любит спать днём по 90 минут, но не может тратить время на
                поездку домой;
              </li>
              <li class="about__item text-sm">
                хочет сосредоточиться на рабочих задачах и отдохнуть от суеты
                опенспейсов.
              </li>
            </ul>
            <a class="about__button button" href="">Забронировать</a>
          </div>
        </div>
      </section>
      <section class="what container">
        <div class="what__wrapper">
          <div class="what__info">
            <h3 class="what__title text-md">Внутри</h3>
            <p class="what__description text-sm">
              В наших капсулах есть всё необходимое для комфортного отдыха.
            </p>
            <ul class="what__list">
              <li class="what__item text-sm what__item-order1">
                <i class="what__item-moon"></i>Ортопедический матрас
              </li>
              <li class="what__item text-sm what__item-order1">
                <i class="what__item-moon"></i>Постельное бельё
              </li>
              <li class="what__item text-sm what__item-order3">
                <i class="what__item-moon"></i>Подушка с эффектом памяти
              </li>
              <li class="what__item text-sm what__item-order4">
                <i class="what__item-moon"></i>Тёплый плед
              </li>
              <li class="what__item text-sm what__item-order3">
                <i class="what__item-moon"></i>Розетка для зарядки
              </li>
              <li class="what__item text-sm what__item-order2">
                <i class="what__item-moon"></i>Wi-Fi
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="extras container">
        <h3 class="extras__title text-sm">И еще...</h3>
        <ul class="extras__list">
          <li class="extras__item extras__item-vl text-sm">
            Капсула предназначена не только для спокойного сна, но и для
            наслаждения тишиной.
          </li>
          <li class="extras__item extras__item-vl text-sm">
            В ней вы можете отвлечься от ежедневной суеты города,
            помедитировать, подготовиться к важной встрече или презентации.
          </li>
          <li class="extras__item extras__item-bk text-sm">
            В капсуле есть розетки для зарядки гаджетов, освещение, при котором
            можно читать, сейф для ценных вещей и камера хранения для крупных
            предметов.
          </li>
          <li class="extras__item extras__item-bk text-sm">
            Кроме того, вы сможете аккуратно повесить одежду на вешалку и
            привести себя в порядок у зеркала.
          </li>
        </ul>
      </section>
      <section class="how container">
        <div class="how__wrapper">
          <h3 class="how__title text-lg">Как это работает?</h3>
          <p class="how__subtitle text-sm">
            В наших капсулах есть всё необходимое для комфортного отдыха.
          </p>
          <a class="how__button button" href="">Забронировать</a>
        </div>
        <div class="how__info">
          <ol class="how__list">
            <li class="how__item">
              <h4 class="how__item-title text-md">Бронируете капсулу</h4>
              <p class="how__item-description text-sm">
                Выбираете время, дату и адрес, по которому вам удобнее всего
                будет прийти.
              </p>
            </li>
            <li class="how__item">
              <h4 class="how__item-title text-md">Приходите</h4>
              <p class="how__item-description text-sm">
                По указанному адресу вас встречает администратор.
              </p>
            </li>
            <li class="how__item">
              <h4 class="how__item-title text-md">Администратор выдаёт ключ</h4>
              <p class="how__item-description text-sm">А вы — оплачиваете аренду.</p>
            </li>
            <li class="how__item">
              <h4 class="how__item-title text-md">Наслаждаетесь отдыхом</h4>
              <p class="how__item-description text-sm">И набираетесь сил.</p>
            </li>
            <li class="how__item">
              <h4 class="how__item-title text-md">Отдохнув, отдаёте ключ</h4>
              <p class="how__item-description text-sm">
                И с новыми силами продолжаете заниматься делами!
              </p>
            </li>
          </ol>
        </div>
      </section>
      <section class="location container">
        <div class="location__wrapper">
          <div class="location__map" id="map"></div>
          <h4 class="location__title text-lg">Капсулы для сна в Бердянске</h4>
          <div class="location__effects"></div>
        </div>
      </section>
      <section class="service container">
        <div class="service__wrapper">
          <div class="service__info">
            <h4 class="service__title text-lg">Стоимость</h4>
            <p class="service__subtitle text-md">1 часа отдыха в капсуле:</p>
            <p class="service__price">400 ₽</p>
            <p class="service__line"></p>
            <div class="service__button-wrapper">
              <a class="service__button button" href="">Забронировать</a>
              <p class="service__description text-sm">
                Общая стоимость зависит от того, сколько времени вы
                забронировали.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="review container">
        <div class="review__wrapper">
          <h4 class="review__title text-lg">Что о нас говорят</h4>
          <div class="review__slider">
            <div class="review__slide">
              <div class="review__slide-wrapper">
                <div class="review__img-wrapper">
                  <img
                    class="review__img img"
                    src="../static/img/slide/1.svg"
                    alt=""
                  />
                </div>
                <div class="review__info">
                  <p class="review__info-title text-md">Света Началова</p>
                  <p class="review__info-subtitle text-sm">
                    20 января • <br class="review__br" />ст. м. «Улица 1905
                    года»
                  </p>
                  <p class="review__info-description text-sm">
                    Как же здорово я отдохнула! <br class="review__br" />Спасибо
                    «Капсуле»! У меня совсем не было сил,<br
                      class="review__br"
                    />
                    а теперь я чувствую себя прекрасно и могу дальше
                    работать.<br class="review__br" />
                    Ортопедический матрас — космос!<br class="review__br" />
                    Мои спина и шея в восторге ;)
                  </p>
                </div>
              </div>
            </div>
            <div class="review__slide">
              <div class="review__slide-wrapper">
                <div class="review__img-wrapper">
                  <img
                    class="review__img img"
                    src="../static/img/slide/2.svg"
                    alt=""
                  />
                </div>
                <div class="review__info">
                  <p class="review__info-title text-md">Николай Сергеев</p>
                  <p class="review__info-subtitle text-sm">
                    17 января • <br class="review__br" />ст. м. «Павелецкая»
                  </p>
                  <p class="review__info-description text-sm">
                    Я доволен. <br class="review__br" />Забронировал «Капсулу»
                    за минуту — всё чётко и понятно. <br class="review__br" />И
                    место удобное: близко к метро, минут пять пешком от
                    «Арбатской». <br class="review__br" />Рекомендую!
                  </p>
                </div>
              </div>
            </div>
            <div class="review__slide">
              <div class="review__slide-wrapper">
                <div class="review__img-wrapper">
                  <img
                    class="review__img img"
                    src="../static/img/slide/3.svg"
                    alt=""
                  />
                </div>
                <div class="review__info">
                  <p class="review__info-title text-md">Василий Иванов</p>
                  <p class="review__info-subtitle text-sm">
                    11 августа • <br class="review__br" />Капсула на М. Парк
                    Культуры
                  </p>
                  <p class="review__info-description text-sm">
                    Все продумано до мелочей. <br class="review__br" />Пара
                    часов сна, как дома, и снова полна сил!
                    <br class="review__br" />Все то что действительно нужно.
                  </p>
                </div>
              </div>
            </div>
            <div class="review__slide">
              <div class="review__slide-wrapper">
                <div class="review__img-wrapper">
                  <img
                    class="review__img img"
                    src="../static/img/slide/1.svg"
                    alt=""
                  />
                </div>
                <div class="review__info">
                  <p class="review__info-title text-md">Света Началова</p>
                  <p class="review__info-subtitle text-sm">
                    20 января • <br class="review__br" />ст. м. «Улица 1905
                    года»
                  </p>
                  <p class="review__info-description text-sm">
                    Как же здорово я отдохнула! <br class="review__br" />Спасибо
                    «Капсуле»! У меня совсем не было сил,<br
                      class="review__br"
                    />
                    а теперь я чувствую себя прекрасно и могу дальше
                    работать.<br class="review__br" />
                    Ортопедический матрас — космос!<br class="review__br" />
                    Мои спина и шея в восторге ;)
                  </p>
                </div>
              </div>
            </div>
            <div class="review__slide">
              <div class="review__slide-wrapper">
                <div class="review__img-wrapper">
                  <img
                    class="review__img img"
                    src="../static/img/slide/2.svg"
                    alt=""
                  />
                </div>
                <div class="review__info">
                  <p class="review__info-title text-md">Николай Сергеев</p>
                  <p class="review__info-subtitle text-sm">
                    17 января • <br class="review__br" />ст. м. «Павелецкая»
                  </p>
                  <p class="review__info-description text-sm">
                    Я доволен. <br class="review__br" />Забронировал «Капсулу»
                    за минуту — всё чётко и понятно. <br class="review__br" />И
                    место удобное: близко к метро, минут пять пешком от
                    «Арбатской». <br class="review__br" />Рекомендую!
                  </p>
                </div>
              </div>
            </div>
            <div class="review__slide">
              <div class="review__slide-wrapper">
                <div class="review__img-wrapper">
                  <img
                    class="review__img img"
                    src="../static/img/slide/3.svg"
                    alt=""
                  />
                </div>
                <div class="review__info">
                  <p class="review__info-title text-md">Василий Иванов</p>
                  <p class="review__info-subtitle text-sm">
                    11 августа • <br class="review__br" />Капсула на М. Парк
                    Культуры
                  </p>
                  <p class="review__info-description text-sm">
                    Все продумано до мелочей. <br class="review__br" />Пара
                    часов сна, как дома, и снова полна сил!
                    <br class="review__br" />Все то что действительно нужно.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="review__slider-control container"></div>
      </section>
      <section class="qa container">
        <div class="qa__wrapper">
          <h5 class="qa__title text-lg">Важные вопросы</h5>
          <div class="qa__info">
            <div class="qa__accordion accordion">
              <div class="accordion__question">
                <p class="accordion__question-description text-sm">
                  Сколько стоит аренда? Как оплатить?
                </p>
              </div>
              <div class="accordion__answer">
                <div class="accordion__button">
                  <span
                    class="accordion__button-line accordion__button-line--vert"
                  ></span
                  ><span
                    class="accordion__button-line accordion__button-line--hor"
                  ></span>
                </div>
                <p class="accordion__answer-description text-sm">
                  Нормально так стоит. Деньгами.
                </p>
              </div>
            </div>
            <div class="qa__accordion accordion">
              <div class="accordion__question">
                <p class="accordion__question-description text-sm">
                  Каково максимальное и минимальное время бронирования?
                </p>
              </div>
              <div class="accordion__answer">
                <div class="accordion__button">
                  <span
                    class="accordion__button-line accordion__button-line--vert"
                  ></span
                  ><span
                    class="accordion__button-line accordion__button-line--hor"
                  ></span>
                </div>
                <p class="accordion__answer-description text-sm">
                  От нуля до бесконечности!
                </p>
              </div>
            </div>
            <div class="qa__accordion accordion">
              <div class="accordion__question">
                <p class="accordion__question-description text-sm">
                  Можно ли продлить аренду или уйти раньше?
                </p>
              </div>
              <div class="accordion__answer">
                <div class="accordion__button">
                  <span
                    class="accordion__button-line accordion__button-line--vert"
                  ></span
                  ><span
                    class="accordion__button-line accordion__button-line--hor"
                  ></span>
                </div>
                <p class="accordion__answer-description text-sm">
                  Любой каприз за Ваши деньги!
                </p>
              </div>
            </div>
            <div class="qa__accordion accordion">
              <div class="accordion__question">
                <p class="accordion__question-description text-sm">
                  Можно ли отменить бронь?
                </p>
              </div>
              <div class="accordion__answer">
                <div class="accordion__button">
                  <span
                    class="accordion__button-line accordion__button-line--vert"
                  ></span
                  ><span
                    class="accordion__button-line accordion__button-line--hor"
                  ></span>
                </div>
                <p class="accordion__answer-description text-sm">А Вы как думаете?</p>
              </div>
            </div>
            <div class="qa__accordion accordion">
              <div class="accordion__question">
                <p class="accordion__question-description text-sm">Есть ли скидки?</p>
              </div>
              <div class="accordion__answer">
                <div class="accordion__button">
                  <span
                    class="accordion__button-line accordion__button-line--vert"
                  ></span
                  ><span
                    class="accordion__button-line accordion__button-line--hor"
                  ></span>
                </div>
                <p class="accordion__answer-description text-sm">Следующий вопрос!</p>
              </div>
            </div>
            <div class="qa__accordion accordion">
              <div class="accordion__question">
                <p class="accordion__question-description text-sm">
                  Как вы заботитесь о чистоте?
                </p>
              </div>
              <div class="accordion__answer">
                <div class="accordion__button">
                  <span
                    class="accordion__button-line accordion__button-line--vert"
                  ></span
                  ><span
                    class="accordion__button-line accordion__button-line--hor"
                  ></span>
                </div>
                <p class="accordion__answer-description text-sm">Лучше всех!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <!— Footer сайта —>
      <p class="footer__description text-sm">© 2077, Яндекс.Практикум</p>
    </footer>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlb7J9FCMzqTHSUCF7crqqBF1MT-7jqI&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
