.main {
  height: 665px;
}
.main__info {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.main__title {
  text-align: center;
  color: var(--theme-color-base);
  margin: 64px auto 8px;
}
.main__description {
  text-align: center;
  color: var(--theme-color-base);
}
