@media screen and (min-width: 576px) {
  .container {
    --container-width: var(--mq-size-sm);
  }
}
@media screen and (min-width: 768px) {
  .container {
    --container-width: var(--mq-size-md);
  }
  .header,
  .menu {
    --header-height: var(--hh-size-xl);
  }
  .nav {
    justify-content: space-around;
  }
  .nav__button {
    display: inline-flex;
  }
  .main__title {
    font-size: 40px;
    margin-top: 88px;
  }
  .main {
    height: 960px;
  }
  .main__description {
    width: 50%;
    margin: 0 auto;
  }
  .about__title {
    margin-top: -16px;
  }
  .about__info {
    margin-top: 85px;
  }
  .about__subtitle {
    width: 70%;
    text-align: left;
    margin: 0 auto;
  }
  .about__item {
    width: 70%;
    margin-bottom: 24px;
  }
  .about__button {
    margin-left: 15%;
  }
  .what__info {
    padding: 48px 76px 74px;
  }
  .what__title {
    margin-bottom: 30px;
  }
  .what__description {
    width: 33%;
  }
  .what__item {
    flex-basis: 27.5%;
    padding-top: 40px;
  }
  .what__item-order1 {
    order: 1;
  }
  .what__item-order2 {
    order: 2;
  }
  .what__item-order3 {
    order: 3;
  }
  .what__item-order4 {
    order: 4;
  }
  .extras__title {
    width: 25%;
  }
  .extras__list {
    width: 75%;
    margin-top: 40px;
  }
  .how__wrapper {
    margin: 88px 0 0 76px;
  }
  .how__title {
    width: 30%;
  }
  .how__subtitle {
    width: 50%;
    margin: 21px 0 27px 0;
  }
  .how__list {
    margin-top: 49px;
  }
  .how__item {
    padding: 0 0 85px 70px;
  }
  .how__item-title {
    width: 75%;
  }
  .how__item-title::before {
    width: 64px;
    height: 64px;
    font-size: 24px;
    top: -15px;
    left: -34px;
  }
  .how__item-description {
    width: 75%;
  }
  .location__map {
    height: 807px;
  }
  .location__title {
    font-size: 40px;
  }
  .service__wrapper {
    height: 553px;
  }
  .service__info {
    padding: 48px 76px;
  }
  .service__title {
    font-size: 40px;
    margin-bottom: 64px;
  }
  .service__subtitle {
    margin-bottom: 16px;
  }
  .service__price {
    font-size: 144px;
    margin-bottom: 37px;
  }
  .service__line {
    margin-bottom: 32px;
  }
  .service__button-wrapper {
    display: flex;
    align-items: center;
  }
  .service__button {
    margin: 0;
  }
  .service__description {
    width: 50%;
    margin-left: 20px;
  }
  .review__wrapper {
    margin-bottom: 120px;
  }
  .review__title {
    font-size: 40px;
    margin-bottom: 160px;
  }
  .review__info {
    margin-left: 21px;
    width: 45%;
  }
  .review__info-subtitle {
    width: 100%;
    margin-bottom: 16px;
  }
  .review__br {
    display: none;
  }
  .review__slider-control {
    width: 67%;
  }
  .qa__wrapper {
    margin-top: 21px;
    padding: 71px 76px 42px 64px;
  }
  .qa__title {
    margin-bottom: 43px;
    font-size: 40px;
  }
  .accordion {
    margin-bottom: 20px;
    padding: 20px 70px 22px 24px;
  }
  .accordion__question-description {
    font-size: 24px;
    width: 100%;
  }
  .footer {
    margin-top: 409px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    --container-width: var(--mq-size-lg);
  }
  .nav__button {
    width: 204px;
  }
  .menu__button {
    display: none;
  }
  .menu__item {
    margin: 0;
  }
  .menu__list {
    display: flex;
    flex-direction: row;
    position: unset;
    transition: unset;
    transform: unset;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    --container-width: var(--mq-size-xl);
  }
  .menu__link {
    margin: 0 16px 0 16px;
  }
  .main {
    height: 1158px;
  }
  .main__title {
    margin-top: 112px;
  }
  .main__description {
    width: 40%;
  }
  .about__title {
    margin-top: -160px;
    font-size: 40px;
  }
  .about__info {
    margin-top: 130px;
  }
  .about__item {
    margin-bottom: 32px;
  }
  .about__info {
    flex-direction: row;
  }
  .what__info {
    padding: 45px 0 59px 74px;
  }
  .what__description {
    width: 20%;
    margin-bottom: 45px;
  }
  .what__title {
    font-size: 40px;
  }
  .what__item {
    font-size: 32px;
    flex-basis: 30%;
    padding-left: 52px;
  }
  .what__item-moon {
    transform: scale(2) rotate(-135deg);
  }
  .extras__title {
    font-size: 40px;
    margin-top: 135px;
    width: 45%;
    margin-left: 5%;
  }
  .extras__list {
    margin-top: 135px;
    width: 50%;
  }
  .extras__item {
    margin-bottom: 48px;
  }

  .extras__item-vl {
    font-size: 40px;
    letter-spacing: 0;
  }
  .extras__item-bk {
    font-size: 24px;
  }
  .how {
    flex-wrap: nowrap;
    margin-top: 100px;
  }
  .how__item {
    padding-left: 85px;
  }
  .service__wrapper {
    position: relative;
    height: 453px;
  }
  .service__info {
    width: 67%;
    margin-left: 33%;
    padding: 86px 0 0 0;
  }
  .service__title {
    position: absolute;
    top: 64px;
    left: 68px;
  }
  .service__subtitle {
    margin-bottom: 30px;
  }
  .service__price {
    margin-bottom: 30px;
  }
  .service__line {
    margin-bottom: 3.33px;
    width: 90%;
  }
  .review__title {
    margin-bottom: 172px;
  }
  .review__wrapper {
    margin-top: 195px;
  }
  .review__info {
    width: 55%;
  }
  .review__slider-control {
    width: 33%;
  }
  .qa__wrapper {
    margin-top: 120px;
    padding: 40px 64px 34px 64px;
    justify-content: space-between;
  }
  .qa__title {
    margin: 0;
    width: 25%;
  }
  .qa__info {
    width: 75%;
  }
  .accordion {
    margin-bottom: 16px;
  }
  .footer {
    margin-top: 194px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .menu__link:hover {
    color: var(--theme-color-yandex-yellow);
    text-decoration: underline;
    transition: 0.5s;
  }
  .menu__button:hover .menu__button-line {
    background-color: var(--theme-color-yandex-yellow);
  }
  .button:hover {
    background-color: var(--theme-color-base);
    border: 1px solid var(--theme-color-yandex-yellow);
    color: var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
  .review__slider-arrow:hover {
    filter: none;
    transition: 0.5s;
  }
  .slick-dots button:hover {
    background-color: var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
  .accordion:hover {
    border: 1px solid var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
  .accordion:hover .accordion__button-line {
    background-color: var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
  .accordion:hover .accordion__question-description,
  .accordion:hover .accordion__answer-description {
    color: var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
}
