/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

:root {
  --theme-color-base: #fff;
  --theme-color-base2: #000;
  --theme-color-yandex-yellow: #fed305;
  --theme-color-yandex-black: #272727;
  --theme-color-yandex-violet: #211381;
  --theme-color-yandex-grey: #747474;
  --theme-color-yandex-grey2: #d5d5d5;
  --theme-color-yandex-grey3: #cccccc;
  --theme-color-yandex-grey4: #c4c4c4;
  --theme-color-yandex-grey5: #6e6e6e;
  --theme-color-yandex-white: #f4f4f4;
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;
  --menu-button-line-height: 2px;
  --menu-button-line-width: calc(16 * var(--menu-button-line-height));
}

.container {
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  --hh-size-sm: 48px;
  --hh-size-xl: 72px;
  --header-height: var(--hh-size-sm);
  height: var(--header-height);
}

.text-sm {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.text-md {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 1.1;
}

.text-lg {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.header--is-scrolled {
  background: radial-gradient(100.78% 106.26% at 33.46% 18.73%, rgba(23, 23, 94, 0.8) 0%, rgba(94, 58, 144, 0.8) 100%);
  box-shadow: 0 24px 40px black;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 10;
  width: var(--menu-button-line-width);
  height: calc(7 * var(--menu-button-line-height));
  transform: translate(0%, -50%);
  transition: 0.5s;
}

.menu__button-line {
  position: absolute;
  width: 100%;
  height: var(--menu-button-line-height);
  background-color: var(--theme-color-base);
  transition: 0.5s;
}

.menu__button-line--top {
  top: 0;
}

.menu__button-line--mid {
  top: 50%;
}

.menu__button-line--bot {
  top: 100%;
}

.menu__button--is-active .menu__button-line--top {
  transform: rotate(765deg) translate(4px, 6px);
  transition: 0.5s;
}

.menu__button--is-active .menu__button-line--mid {
  transform: rotate(-405deg);
  background: none;
  transition: 0.5s;
}

.menu__button--is-active .menu__button-line--bot {
  transform: rotate(-765deg) translate(4px, -6px);
  transition: 0.5s;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease;
  transform: translatey(-100%);
  position: fixed;
  height: 100%;
  background: radial-gradient(100.78% 106.26% at 33.46% 18.73%, rgba(23, 23, 94, 0.8) 0%, rgba(94, 58, 144, 0.8) 100%);
  box-shadow: 0px 24px 40px rgba(59, 50, 135, 0.25);
  backdrop-filter: blur(12px);
  top: 0;
  left: 0%;
  right: 0;
  z-index: 5;
}

.menu__list--is-open {
  width: 100%;
  transform: translatey(0%);
  transition: 0.5s;
}

.menu__item--is-visible {
  margin: 10px;
}

.menu__link {
  font-family: "Yandex Sans Text";
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: var(--theme-color-base);
  margin: 0 10px 0 10px;
  transition: 0.5s;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 48px;
  background-color: var(--theme-color-yandex-yellow);
  border-radius: 8px;
  font-family: "Yandex Sans Text";
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: var(--theme-color-yandex-black);
  transition: 0.5s;
}

.nav__button {
  width: 160px;
  display: none;
}

.menu__list-button {
  position: fixed;
  display: inline-flex;
  z-index: 10;
  bottom: 0;
  left: 50%;
  transition: all 0.5s ease;
  transform: translateY(100%) translateX(-50%);
}

.menu__list-button--is-visible {
  transition: all 0.5s ease 0.75s;
  transform: translateY(-100%) translateX(-50%);
}

.main {
  height: 665px;
}

.main__info {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.main__title {
  text-align: center;
  color: var(--theme-color-base);
  margin: 64px auto 8px;
}

.main__description {
  text-align: center;
  color: var(--theme-color-base);
}

.about__title {
  margin-top: -79px;
  text-align: center;
  color: var(--theme-color-yandex-black);
}

.about__info {
  margin-top: 38px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__description {
  margin-top: 29px;
}

.about__subtitle {
  font-weight: normal;
  color: var(--theme-color-yandex-black);
  width: 80%;
}

.about__list {
  margin: 24px 0 16px;
}

.about__item {
  position: relative;
  color: var(--theme-color-yandex-black);
  width: 90%;
  margin: 0 auto 4px;
}

.about__item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -24px;
  width: 9px;
  height: 9px;
  border-radius: 3px;
  position: absolute;
  background: var(--theme-color-base);
  border: 2px solid var(--theme-color-yandex-yellow);
  box-sizing: border-box;
}

.what__wrapper {
  margin-top: 40px;
  width: 100%;
  background: radial-gradient(100.78% 106.26% at 33.46% 18.73%, rgba(23, 23, 94, 0.8) 0%, rgba(94, 58, 144, 0.8) 100%);
  box-shadow: 0px 24px 40px rgba(59, 50, 135, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 40px;
}

.what__info {
  padding: 32px 24px;
}

.what__title {
  margin-bottom: 21px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: var(--theme-color-base);
}

.what__description,
.what__item {
  color: var(--theme-color-base);
}

.what__description {
  width: 80%;
}

.what__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.what__item {
  display: flex;
  flex-basis: 90%;
  align-items: center;
  padding: 21px 0 0 32px;
  position: relative;
}

.what__item-moon,
.what__item-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.what__item-moon {
  overflow: hidden;
  position: absolute;
  transform: rotate(-135deg);
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
  left: 0;
}

.what__item-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.extras {
  display: flex;
  flex-flow: row wrap;
}

.extras__title {
  font-weight: bold;
  color: var(--theme-color-yandex-black);
  margin-top: 40px;
}

.extras__list {
  margin-top: 10px;
}

.extras__item {
  color: var(--theme-color-yandex-black);
  width: 90%;
  margin-bottom: 15px;
}

.extras__item-vl {
  color: var(--theme-color-yandex-violet);
  letter-spacing: -0.01em;
}

.how {
  display: flex;
  flex-flow: row wrap;
}

.how__wrapper {
  margin: 72px 0 0 24px;
}

.how__title {
  color: var(--theme-color-yandex-black);
  width: 75%;
}

.how__subtitle {
  color: var(--theme-color-yandex-black);
  margin: 12px 0 16px 0;
  width: 90%;
}

.how__list {
  margin-top: 34px;
  display: flex;
  align-items: center;
  flex-direction: column;
  counter-reset: count;
}

.how__item {
  width: 75%;
  border-left: 1px solid var(--theme-color-yandex-grey3);
  position: relative;
  padding: 0 0 40px 40px;
}

.how__item-title::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  counter-increment: count;
  content: counter(count);
  color: var(--theme-color-yandex-black);
  border: 2px solid var(--theme-color-yandex-violet);
  background-color: var(--theme-color-base);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -18px;
  text-align: center;
  font-size: 14px;
}

.how__item:last-child {
  border: none;
}

.how__item-title {
  font-weight: normal;
  color: var(--theme-color-yandex-black);
}

.how__item-description {
  color: var(--theme-color-yandex-black);
}

.location__wrapper {
  position: relative;
}

.location__map {
  width: 100%;
  height: 664px;
}

.location__title {
  text-align: center;
  color: var(--theme-color-yandex-black);
  position: absolute;
  top: 87px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.location__info {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--theme-color-yandex-black);
}

.location__effects {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, var(--theme-color-base) 100%), linear-gradient(180deg, var(--theme-color-base) 0%, rgba(255, 255, 255, 0) 10%);
}

.service__wrapper {
  background: radial-gradient(100.78% 106.26% at 33.46% 18.73%, rgba(7, 7, 7, 0.8) 0%, rgba(77, 77, 77, 0.8) 100%);
  backdrop-filter: blur(12px);
  border-radius: 40px;
  height: 451px;
  margin-top: 40px;
}

.service__info {
  padding: 32px 24px;
}

.service__title {
  color: var(--theme-color-base);
  margin-bottom: 26px;
}

.service__subtitle {
  color: var(--theme-color-base);
  margin-bottom: 26px;
}

.service__price {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--theme-color-base);
  margin-bottom: 26px;
}

.service__line {
  width: 100%;
  height: 1px;
  background: linear-gradient(var(--theme-color-yandex-grey), var(--theme-color-yandex-grey5));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 26px;
}

.service__button {
  margin-bottom: 12px;
}

.service__description {
  color: var(--theme-color-base);
}

.review__wrapper {
  margin: 40px 0;
}

.review__title {
  color: var(--theme-color-yandex-black);
  margin-bottom: 64px;
}

.review__slide-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.review__img-wrapper {
  width: 202px;
  height: 202px;
  margin-bottom: 15px;
  display: flex;
}

.review__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.review__info-title {
  font-weight: normal;
  letter-spacing: -0.02em;
  color: var(--theme-color-yandex-black);
  margin-bottom: 8px;
}

.review__info-subtitle {
  color: var(--theme-color-yandex-grey);
  width: 60%;
}

.review__info-description {
  color: var(--theme-color-yandex-black);
  width: 90%;
}

.review__slider-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.review__slider-arrow {
  filter: brightness(0) invert(0.45);
  cursor: pointer;
  transition: 0.5s;
}

.review__slider-next {
  order: 3;
}

.slick-dots {
  display: flex;
  order: 2;
}

.review__slider-prev {
  order: 1;
}

.slick-dots button {
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: var(--theme-color-yandex-grey4);
  font-size: 0;
  border-radius: 50%;
  border: none;
  transform: translate(0, -50%);
  transition: 0.5s;
}

.slick-dots li {
  padding: 0;
  align-self: center;
}

.slick-active button {
  background: var(--theme-color-yandex-yellow);
  position: relative;
  transition: 0.5s;
}

.slick-active button::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border: 1px solid var(--theme-color-yandex-yellow);
  border-radius: 50%;
  transition: 0.5s;
}

.slick-dots li {
  margin: 0 8px;
}

.accordion__answer .accordion__answer-description {
  display: none;
}

.accordion__answer--is-active .accordion__answer-description {
  display: block;
}

.accordion__button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion__answer--is-active .accordion__button-line--vert {
  transform: rotate(360deg);
  transition: 0.5s;
}

.accordion__answer--is-active .accordion__button-line--hor {
  background: none;
  transform: rotate(-180deg);
  transition: 0.5s;
}

.accordion__button-line {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: var(--theme-color-yandex-grey);
  transition: 0.5s;
}

.accordion__button-line--vert {
  transform: rotate(90deg);
}

.accordion__button-line--hor {
  transform: rotate(0deg);
}

.qa__wrapper {
  margin-top: 31px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  background: linear-gradient(180deg, var(--theme-color-base) 0%, var(--theme-color-yandex-white) 100%);
  border-radius: 40px;
  padding: 32px 12px 24px 12px;
}

.qa__title {
  margin-bottom: 16px;
  color: var(--theme-color-yandex-black);
}

.accordion__question-description {
  color: var(--theme-color-yandex-black);
  width: 75%;
  transition: 0.5s;
}

.accordion__answer-description {
  color: var(--theme-color-yandex-grey);
  transition: 0.5s;
}

.accordion__answer-description {
  margin-top: 20px;
}

.accordion {
  margin-bottom: 12px;
  border: 1px solid var(--theme-color-yandex-grey2);
  border-radius: 12px;
  padding: 20px 24px 20px 16px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 108px;
  background: radial-gradient(100.78% 106.26% at 33.46% 18.73%, rgba(7, 7, 7, 0.8) 0%, rgba(77, 77, 77, 0.8) 100%);
  backdrop-filter: blur(12px);
  margin-top: 21px;
}

.footer__description {
  text-align: center;
  color: var(--theme-color-base);
}

@media screen and (min-width: 576px) {
  .container {
    --container-width: var(--mq-size-sm);
  }
}

@media screen and (min-width: 768px) {
  .container {
    --container-width: var(--mq-size-md);
  }
  .header,
  .menu {
    --header-height: var(--hh-size-xl);
  }
  .nav {
    justify-content: space-around;
  }
  .nav__button {
    display: inline-flex;
  }
  .main__title {
    font-size: 40px;
    margin-top: 88px;
  }
  .main {
    height: 960px;
  }
  .main__description {
    width: 50%;
    margin: 0 auto;
  }
  .about__title {
    margin-top: -16px;
  }
  .about__info {
    margin-top: 85px;
  }
  .about__subtitle {
    width: 70%;
    text-align: left;
    margin: 0 auto;
  }
  .about__item {
    width: 70%;
    margin-bottom: 24px;
  }
  .about__button {
    margin-left: 15%;
  }
  .what__info {
    padding: 48px 76px 74px;
  }
  .what__title {
    margin-bottom: 30px;
  }
  .what__description {
    width: 33%;
  }
  .what__item {
    flex-basis: 27.5%;
    padding-top: 40px;
  }
  .what__item-order1 {
    order: 1;
  }
  .what__item-order2 {
    order: 2;
  }
  .what__item-order3 {
    order: 3;
  }
  .what__item-order4 {
    order: 4;
  }
  .extras__title {
    width: 25%;
  }
  .extras__list {
    width: 75%;
    margin-top: 40px;
  }
  .how__wrapper {
    margin: 88px 0 0 76px;
  }
  .how__title {
    width: 30%;
  }
  .how__subtitle {
    width: 50%;
    margin: 21px 0 27px 0;
  }
  .how__list {
    margin-top: 49px;
  }
  .how__item {
    padding: 0 0 85px 70px;
  }
  .how__item-title {
    width: 75%;
  }
  .how__item-title::before {
    width: 64px;
    height: 64px;
    font-size: 24px;
    top: -15px;
    left: -34px;
  }
  .how__item-description {
    width: 75%;
  }
  .location__map {
    height: 807px;
  }
  .location__title {
    font-size: 40px;
  }
  .service__wrapper {
    height: 553px;
  }
  .service__info {
    padding: 48px 76px;
  }
  .service__title {
    font-size: 40px;
    margin-bottom: 64px;
  }
  .service__subtitle {
    margin-bottom: 16px;
  }
  .service__price {
    font-size: 144px;
    margin-bottom: 37px;
  }
  .service__line {
    margin-bottom: 32px;
  }
  .service__button-wrapper {
    display: flex;
    align-items: center;
  }
  .service__button {
    margin: 0;
  }
  .service__description {
    width: 50%;
    margin-left: 20px;
  }
  .review__wrapper {
    margin-bottom: 120px;
  }
  .review__title {
    font-size: 40px;
    margin-bottom: 160px;
  }
  .review__info {
    margin-left: 21px;
    width: 45%;
  }
  .review__info-subtitle {
    width: 100%;
    margin-bottom: 16px;
  }
  .review__br {
    display: none;
  }
  .review__slider-control {
    width: 67%;
  }
  .qa__wrapper {
    margin-top: 21px;
    padding: 71px 76px 42px 64px;
  }
  .qa__title {
    margin-bottom: 43px;
    font-size: 40px;
  }
  .accordion {
    margin-bottom: 20px;
    padding: 20px 70px 22px 24px;
  }
  .accordion__question-description {
    font-size: 24px;
    width: 100%;
  }
  .footer {
    margin-top: 409px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    --container-width: var(--mq-size-lg);
  }
  .nav__button {
    width: 204px;
  }
  .menu__button {
    display: none;
  }
  .menu__item {
    margin: 0;
  }
  .menu__list {
    display: flex;
    flex-direction: row;
    position: unset;
    transition: unset;
    transform: unset;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    --container-width: var(--mq-size-xl);
  }
  .menu__link {
    margin: 0 16px 0 16px;
  }
  .main {
    height: 1158px;
  }
  .main__title {
    margin-top: 112px;
  }
  .main__description {
    width: 40%;
  }
  .about__title {
    margin-top: -160px;
    font-size: 40px;
  }
  .about__info {
    margin-top: 130px;
  }
  .about__item {
    margin-bottom: 32px;
  }
  .about__info {
    flex-direction: row;
  }
  .what__info {
    padding: 45px 0 59px 74px;
  }
  .what__description {
    width: 20%;
    margin-bottom: 45px;
  }
  .what__title {
    font-size: 40px;
  }
  .what__item {
    font-size: 32px;
    flex-basis: 30%;
    padding-left: 52px;
  }
  .what__item-moon {
    transform: scale(2) rotate(-135deg);
  }
  .extras__title {
    font-size: 40px;
    margin-top: 135px;
    width: 45%;
    margin-left: 5%;
  }
  .extras__list {
    margin-top: 135px;
    width: 50%;
  }
  .extras__item {
    margin-bottom: 48px;
  }
  .extras__item-vl {
    font-size: 40px;
    letter-spacing: 0;
  }
  .extras__item-bk {
    font-size: 24px;
  }
  .how {
    flex-wrap: nowrap;
    margin-top: 100px;
  }
  .how__item {
    padding-left: 85px;
  }
  .service__wrapper {
    position: relative;
    height: 453px;
  }
  .service__info {
    width: 67%;
    margin-left: 33%;
    padding: 86px 0 0 0;
  }
  .service__title {
    position: absolute;
    top: 64px;
    left: 68px;
  }
  .service__subtitle {
    margin-bottom: 30px;
  }
  .service__price {
    margin-bottom: 30px;
  }
  .service__line {
    margin-bottom: 3.33px;
    width: 90%;
  }
  .review__title {
    margin-bottom: 172px;
  }
  .review__wrapper {
    margin-top: 195px;
  }
  .review__info {
    width: 55%;
  }
  .review__slider-control {
    width: 33%;
  }
  .qa__wrapper {
    margin-top: 120px;
    padding: 40px 64px 34px 64px;
    justify-content: space-between;
  }
  .qa__title {
    margin: 0;
    width: 25%;
  }
  .qa__info {
    width: 75%;
  }
  .accordion {
    margin-bottom: 16px;
  }
  .footer {
    margin-top: 194px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .menu__link:hover {
    color: var(--theme-color-yandex-yellow);
    text-decoration: underline;
    transition: 0.5s;
  }
  .menu__button:hover .menu__button-line {
    background-color: var(--theme-color-yandex-yellow);
  }
  .button:hover {
    background-color: var(--theme-color-base);
    border: 1px solid var(--theme-color-yandex-yellow);
    color: var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
  .review__slider-arrow:hover {
    filter: none;
    transition: 0.5s;
  }
  .slick-dots button:hover {
    background-color: var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
  .accordion:hover {
    border: 1px solid var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
  .accordion:hover .accordion__button-line {
    background-color: var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
  .accordion:hover .accordion__question-description,
  .accordion:hover .accordion__answer-description {
    color: var(--theme-color-yandex-yellow);
    transition: 0.5s;
  }
}
